@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magic Creator</h1>
    <p class="lead">A Place to help keep track of your deck and card collection, no more wondering where did that pesky card run off to. Magic is a dynamic game in which you play your deck against at least one other opponent. Thinking ahead is a critical part of playing the game; you need to anticipate what your opponent is going to do and also what you are going to do in response. It takes all of the best elements of Euchre and Chess and makes its own brand!</p>
    <p><a href="https://edhrec.com/" class="btn btn-primary btn-lg">I'm a beginner... where do I start? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="cards">

        <h2>Cards</h2>
        <p>
            There are a ton of different types of cards the most basic types are: Lands, Artifacts, Instants, Sorceries, Creatures, and Enchantments. Playing your cards is how you interact with your opponents.
        </p>
        <p><a class="btn btn-default" href="https://mtg.fandom.com/wiki/Card">What is a Card? &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="decks">

        <h2>Decks</h2>
        <p>Decks are what you bring to the table. You can't win unless you expertly craft your deck. Magic is a game of responses; make sure you include a way to deal with anything your opponent throws at you!</p>
        <p><a class="btn btn-default" href="https://www.dicebreaker.com/series/magic-the-gathering/how-to/build-a-deck-for-beginners">Deck Building For Beginners &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="sideboards">

        <h2>Sideboard</h2>
        <p>If you are playing in a best of 3 format, it is important to carry a sideboard with you. You never know what is in your opponent's deck, it's good to have some variety in your back pocket.</p>
        <p><a class="btn btn-default" href="https://mtgfrenzy.wordpress.com/2020/03/04/how-to-build-a-sideboard-for-your-meta-in-magic-the-gathering/">How to make a Sideboard  &raquo;</a></p>
        </div>
    </div>
</div>